@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body{
  overflow-y: hidden;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.container-back-img{
  background-image: url('./../public/images/quick-chat-app-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.container-back-color{
  background-color: #e74c3c;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;

}

.card{
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
  width: 400px;
  max-width: 90%;
  background-color: #fff;
  padding: 15px 40px;
  z-index: 3;
  position: relative;
}

.column{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2px;
  margin-bottom: 4px;
}

.form .column input{
  width: calc(50% - 2px);
  margin-bottom: 0;
} 

.card-title {
  text-align: center;
  padding: 10px;
}

.card-title h1 {
  font-size: 28px;
  font-weight: 700;

}

.form input {
  margin-bottom: 15px;
  width: 100%;
  background-color: #efefef;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
  margin-bottom: 4px;
}

.form button {
  width: 100%;
  padding: 12px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 8px;
}

.form button:hover {
  background-color: #c0392b;
}

.card-terms{
  display:flex;
  align-items: center;
  padding: 10px;
}

.card-terms input[type="checkbox"]{
  background-color: #e2e2e2;
}

.card-terms span{
  margin: 5px;
  font-size: 13px;
}

.card a{
  color: #4796ff;
  text-decoration: none;
  margin-left: 5px;
}

.card a:hover {
  color: #2980b9;
  text-decoration: underline;
}

.loader-overlay{
  position:fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(231, 76, 60, 0.7);
  z-index: 4;
  align-items: center;
  display: flex;
  justify-content: center;
}

.loader-spinner,
.loader-spinner:after{
  box-sizing: border-box;
}

.loader-spinner{
  display: inline-block;
  position:relative;
  width: 80px;
  height: 80px;
}

.loader-spinner:after{
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid;
  border-color: white transparent white transparent;
  animation: loader-spinner 1.2s infinite;
}

@keyframes loader-spinner {
  0%{
    transform: rotate(0);
    animation-timing-function: cubic-bezier(.55, 0.055, 0.675, 0.19);
  }
  50%{
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(.215, .61, 0.355, 1);
  }
  100%{
    transform: rotate(1000deg);
  }
}

.home-page{
  background-color: #fdedec;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content{
  display: flex;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  flex: 1;
}

.app-header{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 30px;
  justify-content: space-between;
  border-bottom: #bbb 1px solid;
}

.app-logo{
  display: flex;
  flex-wrap: nowrap;
  color: #28282B;
  font-size: 25px;
  font-weight: bold;
}

i{
  margin:5px 10px;
}

.app-user-profile{
  display: flex;
}

.logged-user-name{
  color: #28282B;
  font-weight: bold;
  padding-top: 10px;
  padding-right: 20px;
  margin-left: 15px;
}

.logged-user-profile-pic{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e74c3c;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  cursor: pointer;
}

.app-sidebar{
  width:30%;
  padding:0px 20px;
}

.user-search-area{
  margin-bottom: 20px;
  position: relative;
}
 
.user-search-text{
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  color: #28282B;
  border: #ddd 1px solid;
  border-radius: 20px;
}

.user-search-btn{
  position: absolute;
  right: 10px;
  font-size: 25px;
  color: #e74c3c;
}

.filtered-user{
  border-bottom: #ccc 1px solid;
  padding: 10px;
  color: #28282B;
  cursor: pointer;
  background-color: white;
}

.selected-user{
  border-bottom: #ccc 1px solid;
  padding: 10px;
  color: white;
  cursor: pointer;
  background-color: #e74c3c;
}

.filter-user-display{
  display: flex;
  flex-wrap: wrap;
}

.filter-user-details{
  width: 60%;
}

.user-display-name{
  padding: 1px 20px;
  font-size: 16px;
  font-weight: bold;
}

.user-display-email{
  padding: 1px 20px;
  font-size: 12px;
}

.user-deafult-avatar, .user-profile-image, .user-selected-avatar, .user-default-profile-pic{
  width:50px;
  height: 50px;
  border-radius: 50%;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.user-deafult-avatar, .user-default-profile-pic{
  background-color: #e74c3c;
  color: white;
}

.user-selected-avatar{
  background-color: white;
  color: #e74c3c;
}

.user-start-chat{
  padding: 10px 0px;
}

.user-start-chat-btn{
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  background-color: #e74c3c;
  color: white;
}